{% extends "layout/basic.html" %}

{% load static %}

{% block content %}

<h1>{{ text }}</h1>

    {% for bb in object_list %}
        <div class="bb-frame">
            <h2> <a href="{% url 'detail' pk=bb.pk %}"> {{ bb.title_and_price }} </a> </h2>
            <p>{{ bb.content }}</p>
            <p><a href="{{ bb.rubric.get_absolute_url }}">
                {{ bb.rubric.name }}</a></p>
            <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>
            <p><a href="{% url 'update' bb.pk %}"> Редактировать </a>
            <a href="{% url 'delete' bb.pk %}"> Удалить </a></p>
        </div>
    {% endfor %}


{% endblock %}
