{% extends "layout/basic.html" %}

{% block title %}Добавление объявления{% endblock %}
{% load bootstrap4 %}
{% block content %}

    <h2>Добавление объявления</h2>


<div class="col-md-4">
    {# <form action="{% url 'add_save' %}" method="post"> #}

    {% if form.is_multipart %}

        <form action="" method="post" enctype="multipart/form-data" >

    {% else %}
        <form action="" method="post" >
    {% endif %}
            {% csrf_token %}
            {# {{ form.as_p }} #}

<!--            {% for hidden in form.hidden_fields %}-->
<!--                {{ hidden }}-->
<!--            {% endfor %}-->

<!--            {% if form.non_field_errors %}-->
<!--                <ul>-->
<!--                    {% for error in form.non_field_errors %}-->
<!--                        <li><em>{{ error|escape }}</em></li>-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            {% endif %}-->

<!--            {% for field in form.visible_fields %}-->
<!--                {% if field.errors %}-->
<!--                    <ul>-->
<!--                        {% for error in field.errors %}-->
<!--                        <li><em>{{ error|escape }}</em></li>-->
<!--                        {% endfor %}-->
<!--                    </ul>-->
<!--                {% endif %}-->
<!--                <p>{{ field.label_tag }} </br> {{ field }} {{ field.help_text }}</p>-->
<!--            {% endfor %}-->

            {% bootstrap_form form exclude='' layout='inline' size='medium' %}
            {% buttons submit='Добавить' %}{% endbuttons %}



<!--            <input type="submit" value="Добавить">-->
        </form>
        </form>
    </div>
{% endblock %}
