{% load static %}
{% load count_bbs %}



<nav>
    {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Выйти</a>
    <a href="{% url 'password_change' %}">Изменить пароль</a>
    {% else %}
    <a href="{% url 'login' %}">Войти</a>
    {% endif %}
    <a href="{% url 'index' %}">Главная</a>
    <a href="{% url 'add' %}">Добавить</a>

    {% if user.is_superuser %}
    <a href="{% url 'rubrics' %}">Редактирование рубрик</a>
    {% endif %}
    {% for rubric in rubrics %}
        <a href="{{ rubric.get_absolute_url }}">
            {{ rubric.name }}
            {% if count_bb %} ({{ count_bb|count_bbs:rubric.pk }}) {% endif %}
        </a>
    {% endfor %}
</nav>