{% load static %}
{% load count_bbs %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} ::
        Доска объявлений</title>
    {% bootstrap_css %}

    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">
</head>
<body>

<header>
    <h1>Объявления</h1>
</header>

{% include 'includes/inc_main_menu.html' %}

<section>

{% block content %}
    Контента нет
{% endblock %}



{% for p in paginator.page_range %}
    <a href="?=page/{{ p }}">{{ p }}</a>
    {% endfor %}

</section>
    {% bootstrap_javascript jquery=True %}
</body>

</html>