{% load static %}
{% load count_bbs %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %} ::
        Доска объявлений</title>
    <link rel="stylesheet" href="{% static 'bboard/style.css' %}">
</head>
<body>
{% include 'includes/inc_sale.html' %}
<header>
    <h1>Объявления</h1>
</header>

{% include 'includes/inc_main_menu.html' %}

{% if user.is_authenticated %}
    {% block content %}
    Контента нет
    {% endblock %}
{% else %}
    {% include 'includes/user_active.html' %}
{% endif %}

</body>

</html>